<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<title>Add Resource</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


 <link rel="stylesheet" type="text/css" href="app/css/mystyle2.css">

 


</head>
<body>
<div class="c">
 <form align ="center"  ng-controller="clientController">
                  <table align="center">
               
                        <tr><td>Search Client By Name:</td>
                        
                       <td><input type="text" name="clientname" ng-model="clientname"></td></tr>
                       </table>
                       
                       
                       <table align="center">
                        <tr><td><input type="submit" name="search" value="Search" ng-click="getClientByName()"> <td> </tr>  
                        </table>
                        
                       
                        
                        
                
                        </form>
                        </div>
</body>
</html>