<!DOCTYPE html>
<html ng-app="myapp">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">


 <link rel="stylesheet" type="text/css" href="app/css/mystyle2.css">
</head>
<body>
<div class="c">
 <form align ="center" ng-controller="userController" ng-submit="getUserById()">
                  <table align="center">
               
                        <tr><td>User Id:</td>
                        
                        <td><input type="number" name="userid"  string-to-number ng-model="userid"></td></tr>
                       </table>
                       <table align="center">
                        <tr><td><input type="submit" value="Search"></td>  </tr>
                        
                                                  
                        </form>
                        </div>
</body>
</html>